



.tabs-titles{
    padding: 0px;
    margin: 0;
    list-style: none;
  }

  .tab-title{
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    
  }
  
 .tab-title--active {
  background-color: #f5f5f5;
  color: white;
}


.tab-content{
  background-color: yellow;
  padding: 5px;
  margin: 0;
}

